.erlik_blocker
	font-family: Tahoma, Geneva, sans-serif	
	position: fixed
	top: 0px
	left: 0px
	bottom: 0px
	right: 0px
	display: block
	background-color: rgba(255, 255, 255, 0.7)
	text-align: center
	&:before
		vertical-align: middle
		content: ''
		display: inline-block
		height: 100%

	.erlik_blocker_container
		text-align: left
		vertical-align: middle
		display: inline-block
		white-space: nowrap
		position: relative
		.title
			font-weight: bold
		.text
			font-size: 0.8em