.erlik_lightbox
	font-family: Tahoma, Geneva, sans-serif	
	position: fixed
	top: 0px
	left: 0px
	bottom: 0px
	right: 0px
	display: block
	background-color: rgba(255, 255, 255, 0.7)
	text-align: center
	&:before
		vertical-align: middle
		content: ''
		display: inline-block
		height: 100%

	.button, .erlik_button, button
		appearance: none
		outline: none
		cursor: pointer
		background-color: transparent
		border: 0px
		font-size: 24px
		&:hover
			opacity: 0.6
			// background-color: rgba(0, 0, 0, 0.01)
		&.selected, &:active
			// background-color: rgba(0, 0, 0, 0.02)

	.close_btn
		float: right
	.erlik_lightbox_wrapper
		text-align: left
		vertical-align: middle
		display: inline-block
		white-space: nowrap
		position: relative
		border: 1px solid #666666
		border-radius: 2px
		box-shadow: 1px 1px 1px 1px #CCCCCC
		background-color: #FFFFFF
		min-width: 400px
		min-height: 300px
		max-height: 99%
		.erlik_lightbox_header
			position: relative
			height: 2em
			border-bottom: 1px solid #CCCCCC
			.erlik_lightbox_title
				padding-left: 0.5em
				line-height: 2em
				font-weight: bold
			
			
		.erlik_lightbox_container
			position: absolute
			overflow: auto
			top: 2em
			left: 0px
			right: 0px
			bottom: 0px
			&>*
				display: inline-block
			