.erlik_progressbar
	display: inline-block
	font-size: 10px
	border-radius: 1em
	overflow: hidden
	min-width: 200px
	min-height: 1em
	position: relative
	box-shadow: 1px 1px 1px 1px #ccc
	@keyframes progressbar-pattern-animation
		0%
			background-position: 0 0
		100%
			background-position: 9px 0
	.progress
		animation-name: progressbar-pattern-animation
		animation-duration: 0.4s
		animation-iteration-count: infinite
		animation-timing-function: linear
		position: absolute
		top: 0px
		left: 0px
		width: 100%
		height: 100%
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAD1BMVEUAAAD5+flubm4BAQHf39/aLetdAAAABXRSTlMaGiMVEbCRADYAAAAoSURBVAjXYxAUMWBgYhB0ZmBQZAAxBRlATEEGEFOEAcQE8oFMA0wmAHYCA/0rayZfAAAAAElFTkSuQmCC')
		background-size: 10px 100%
	