<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine on

	RewriteCond %{REQUEST_URI} !/(css|media|dynamic|fonts|data)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule (.*) index.php

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !=/favicon.ico
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(cur|gif|ico|jpe?g|png|svgz?|webp)$">
		SetEnvIf Origin ":" IS_CORS
		Header set Access-Control-Allow-Origin "*" env=IS_CORS
	</FilesMatch>
</IfModule>

# <IfModule mod_deflate.c>
# 	SetOutputFilter DEFLATE
	
# 	AddOutputFilterByType DEFLATE text/plain 
# 	AddOutputFilterByType DEFLATE text/html 
# 	AddOutputFilterByType DEFLATE text/xml 
# 	AddOutputFilterByType DEFLATE text/css 
# 	AddOutputFilterByType DEFLATE text/x-component
# 	AddOutputFilterByType DEFLATE text/richtext
# 	AddOutputFilterByType DEFLATE text/javascript 
# 	AddOutputFilterByType DEFLATE application/javascript 
# 	AddOutputFilterByType DEFLATE application/x-javascript 
# 	AddOutputFilterByType DEFLATE application/x-httpd-php 
# 	AddOutputFilterByType DEFLATE application/xml 
# 	AddOutputFilterByType DEFLATE application/xhtml+xml 
# 	AddOutputFilterByType DEFLATE application/rss+xml 
# 	AddOutputFilterByType DEFLATE application/json
# 	AddOutputFilterByType DEFLATE application/x-font-ttf
# 	AddOutputFilterByType DEFLATE application/x-font-otf
# 	AddOutputFilterByType DEFLATE font/truetype
# 	AddOutputFilterByType DEFLATE font/opentype
# 	AddOutputFilterByType DEFLATE font/ttf 
# 	AddOutputFilterByType DEFLATE font/eot 
# 	AddOutputFilterByType DEFLATE font/otf
# 	AddOutputFilterByType DEFLATE image/x-icon 
# 	AddOutputFilterByType DEFLATE image/jpeg 
# 	AddOutputFilterByType DEFLATE image/jpg 
# 	AddOutputFilterByType DEFLATE image/png
# 	AddOutputFilterByType DEFLATE image/gif 

# 	# old browser bugs workaround
# 	BrowserMatch ^Mozilla/4 gzip-only-text/html
# 	BrowserMatch ^Mozilla/4\.0[678] no-gzip
# 	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
# </IfModule>

<ifModule mod_mime.c>
	AddType font/ttf .ttf
	AddType font/otf .otf
	AddType font/opentype .otf
	AddType font/x-opentype .otf
	AddType font/x-woff .woff
	AddType application/vnd.ms-fontobject .eot
	AddType application/x-font-woff .woff
	AddType application/json .json
	AddType image/svg+xml .svg

	AddType video/ogg .ogv
	AddType video/ogg .ogg
	AddType video/mp4 .mp4 .m4v
	AddType video/webm .webm
	AddType video/x-flv .flv
	
	AddType audio/mpeg .mp3
</IfModule>

<FilesMatch mp4>
	Satisfy any
	order allow,deny
	allow from all
</FilesMatch>
