html, body
	margin: 0
	padding: 0
	
.fontPre
	position: absolute
	top: -9999999px
	left -9999999px

.robotoFont
	font-family: Roboto

.robotoBoldFont
	font-family: Roboto
	font-weight: bold

.robotoLightFont
	font-family: RobotoLight

.robotoThinFont
	font-family: RobotoThin

.hondaFont
	font-family: Icon
