@import 'plugins/*'
@import 'plugins/ui/image/*'
.align_middle
	&:before
		content: ''
		display: inline-block
		vertical-align: middle
		height: 100%
	>*
		display: inline-block
		vertical-align: middle
.align_center
	text-align: center
	>*
		display: inline-block
.erlik
	font-family: Tahoma, Geneva, sans-serif
	border: 1px solid #666666
	border-radius: 2px
	box-shadow: 1px 1px 1px 1px #CCCCCC
	min-width: 400px
	min-height: 300px
	position: relative
	outline: none
	div
		outline: none
	
	.button, .erlik_button, button
		appearance: none
		outline: none
		cursor: pointer
		background-color: transparent
		border-top: 1px solid rgba(0, 0, 0, 0)
		border-left: 1px solid rgba(0, 0, 0, 0.05)
		border-right: 1px solid #CCCCCC
		border-bottom: 1px solid #666666
		&:hover
			background-color: rgba(0, 0, 0, 0.01)
		&.selected, &:active
			background-color: rgba(0, 0, 0, 0.02)
			border-right: 1px solid rgba(0, 0, 0, 0.05)
			border-bottom: 1px solid rgba(0, 0, 0, 0)
			border-left: 1px solid #CCCCCC
			border-top: 1px solid #666666
		
	.erlik_toolbar
		display: block
		position: absolute
		width: 100%
		border-bottom: 1px solid #CCCCCC
		min-height: 1em
		font-size: 14px
		.button, .erlik_button, button
			font-size: 1em
			text-align: center
			width: 2em
			height: 2em
			position: relative
		.icon-container
			margin-right: 0.4em
			position: relative
	.erlik_editor
		padding: 8px
		position: absolute
		display: block
		outline: none
		overflow: scroll
		bottom: 0px
		left: 0px
		right: 0px
			