.cropper
	.cropper_container
		position: relative
		.cropper_image
			position: absolute
		.cropper_mask
			position: absolute
			top: 0px
			left: 0px
			bottom: 0px
			right: 0px
			.cropper_mask_item
				position: absolute
				background-color: rgba(128, 128, 128, 0.4)
			.cropper_mask_dragger
				position: absolute
				cursor: pointer
			.cropper_mask_resizer
				position: absolute
				width: 8px
				height: 8px
				margin-top: -5px
				margin-left: -5px
				background-color: #999999
				border-top: 1px solid #CCCCCC
				border-left: 1px solid #CCCCCC
				border-bottom: 1px solid #666666
				border-right: 1px solid #666666
				&.tl, &.br
					cursor: nwse-resize
				&.tr, &.bl
					cursor: nesw-resize
	.cropper_gallery
		.cropper_thumb
			opacity: 0.6
			cursor: pointer
			padding: 6px
			vertical-align: top
			width: 120px
			&.selected
				opacity: 1
			.container
				width: 120px
				height: 120px
				display: block
				border: 1px solid #CCCCCC
				position: relative
			&.selected
				.container
					border-color: #999999
				
			.label
				text-align: center;
				font-size: 10px
				vertical-align: top
				max-width: 100%
				white-space: normal